* { 
    margin: 10px;
    padding: 10px;

}

.main-header {
    padding:0;
    border-top: 0;
    margin: auto;
    align-self: center;
}

body {
 font-family:sans-serif;
 color:rgb(19, 64, 30);
 border-top: 30px solid;
}

/* CONTAINERS */

nav {
    font-size: 18px;
    text-align: center;
}

aside {
    background-color: #f7f7f7;
    border-top: 5px solid green;
    border-bottom: 5px solid green;
    padding: 50px 40px;
    align-self: start;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.footer{
    text-align: left;
}

.container{
    width: 1200px;
    margin: auto;
    position: relative;
    display: grid;
    grid-template-columns: 1fr 300px;
    column-gap: 75px;
    row-gap: 60px;
    background-color: black;
}

.author-box {
display: flex;
align-items: center;
gap: 5px;
margin: 50px;
text-align: center;
}

.related-post{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 30px;
}

/* HEADERS */
.main-header {
    background-color: rgb(245, 241, 236);
    align-items: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    align-content: center;
}  

.post-header{
    margin-bottom: 40px;

}

/* HEADINGS */
h1,h2,h3{
    color: rgb(34, 77, 44);
}

h1{
    font-size: 26px;
    text-transform: uppercase;
    font-style: bold;
    text-align: center;
    font-size: 50px;
}

h2{
    font-size: 30px;
    text-align: center;
}

h3{
    font-size: 30px;
    text-align: center;
}

h4{
    font-size: 20px;
    text-transform: uppercase;
    text-align: center;
}

/* TEXT */

p{
    font-size: 22PX;
    line-height: 1.5;
    text-align: center;
}

ul{
    font-size: 20px;
    color: green;
    text-align: center;
}

footer  {
    font-size: 16px;
}

#author{
    font-style: italic;
    font-size: 18px;
}

#copyright{
    font-size: 16px;
}

.author{
    margin-bottom: 10px;
    margin-left: 15px;
}

#copyright{
    font-size: 16px;
}

.related-author{
    font-size: 18px;
    font-weight: bold;
}

.related {
    list-style: none;
}

/*  OTHER  */

.button{
    font-size: 22px;
    padding: 20px;
    cursor:pointer;
    position: absolute;
    bottom: 50px;
    right:50px;
}

.post-image {
    width:100%;
    height:auto;
}